
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.calculator {
  background-color: white;
  width: 440px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.case {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 10px 0 0;
}

h1 {
  color: gray;
}

footer {
  width: 395px;
  margin: 0 0 25px;
}

.principal-amount {
  margin-left: 37px;
}

.years {
  margin-left: 7px;
}

p {
  margin: 5px 0;
}

output {
  background-color: yellow;
}

.interest-rate-display {
  background-color: transparent;
  display: inline-block;
  width: 57px;
}

span {
  background-color: gray;
}